* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: none; /* Remove the default cursor */
}

body {
  font-family: cursive;
  background-color: darkslategrey;
  color: #fff;
}

h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 1;
  margin-top: 45px;
}

.score {
  color: #4caf50;
  background: transparent;
  padding: 1rem;
  line-height: 1;
  border-radius: 1rem;
  display: inline-block;
}

.controls {
  margin: 5px;
  text-align: center;
}

.start-btn {
  padding: 10px 25px;
  outline: none;
  font-size: 24px;
  background: #c2185b;
  color: #fff;
  border: 0px;
  box-shadow: 1px 2px 4px #c2185bb0;
  cursor: pointer;
}

.start-btn:hover {
  background: #187bc2;
  box-shadow: 1px 2px 4px #185fc2b0;
}

.levels {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for each difficulty level */
.levels > div {
  margin: 20px;
}

.levels > div:nth-child(1) {
  color: #00ff00;
}
.levels > div:nth-child(2) {
  color: #ffd24e;
}
.levels > div:nth-child(3) {
  color: #ff0000;
}

/* Style for the game board */
.game {
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Style for each hole on the game board */
.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

/* Style for the mole inside each hole */
.hole:after {
  background: url("hole1.png") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

/* Style for the mole when it pops up from a hole */
.mole {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 120%;
  background: url("mole1.png") bottom center no-repeat;
  background-size: 60%;
  transition: all 0.4s;
  cursor: none; /* Remove the default cursor when hovering over the mole */
}

/* Style for the mole when it pops up from a hole and becomes visible */
.hole.up .mole {
  top: 0;
}

/* adjust for small screen size */
@media (max-width: 768px) {
  h1 {
    padding: 20px;
    font-size: 2rem;
  }

  .score {
    margin: 20px;
  }

  .hole::after {
    bottom: -22px;
    margin: 6px;
  }

  .start-btn {
    padding: 8px 20px;
  }

  .levels > div {
    margin: 10px;
  }

  .game {
    width: 90%;
    height: 300px;
  }
  .hole.mole {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise 0.3s ease-out;
  }
  @keyframes rise {
    0% {
      transform: translateX(-50%) translateY(100%);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
}

.cursor {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url('hammer2.png');
  background-size: 100% 100%;
  transform: translate(-50%, -50%); /* Center the cursor */
  transition: transform 0.1s;
  pointer-events: none;
  z-index: 10; /* Ensure the cursor is on top of other elements */
}

.cursor.active {
  transform: translate(-50%, -50%) rotate(-45deg);
}